.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  flex-wrap: nowrap;
  height: 100vh;
}

.start {
  padding: 10px;
}

.question {
  width: 300px;
  text-align: center;
}

.question > .actions {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.results {
  padding: 10px;
  text-align: center;
}
